<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Nova notícia</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="">
	</head>
	<body>
		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		
		<h1>Adicionar notícia</h1>

		<br />

		<% if(errors){ %>
			<ul>
				<% for(var i = 0; i < errors.length; i++){ %>
					<li>
						<%= errors[i].msg %>
					</li>
				<% } %>
			</ul>
		<% } %>

		<form action="news/create" method="post">
			<label for="title">Título: </label>
			<input type="text" name="title" id="title" value="<%= news.title %>"><br />
			<label for="author">Autor: </label>
			<input type="text" name="author" id="author" value="<%= news.author %>"><br />
			<label for="summary">Resumo: </label>
			<textarea name="summary" id="summary"><%= news.summary %></textarea><br />
			<label for="content">Conteúdo: </label>
			<textarea name="content" id="content"><%= news.content %></textarea><br />
			<label for="news_at">Data da notícia: </label>
			<input type="date" name="news_at" id="news_at" value="<%= news.news_at %>"><br />

			<input type="submit" value="Cadastrar notícia">
		</form>

		<script src="" async defer></script>
	</body>
</html>